{% extends 'base.html' %}

{% block title %}WELCOME!{% endblock %}

{% block header %} {% endblock %}

{% block main %}
    <main class='container p-4 rounded bg-white'>
        <h2>INTRO / 介绍</h2>
        <p>This is a website created by a student in XJTLU, aiming at gathering SAT files.</p>
        <p>这是一个西交利物浦学生创作的网站，主要用于整理SAT专业的资料。</p>
        <p><br></p>
        <p>Due to I'm in ICS (infomation and computing science), I'll mainly update files about ICS.</p>
        <p>因为我是ics专业的，所以我上传的资料将会主要集中于本专业。</p>
        <p>Of cources, I'm also interested in other classes, so I'll also upload the other classes</p>
        <p>当然，我也对其他专业有兴趣，所以也会更新别的专业的课程。</p>
        <p><br></p>
        <p>main resouces:</p>
        <p>大概的信息来源：</p>
        <p>books（always without copy right）</p>
        <p>CSDIY</p>
        <p>ZHIHU</p>
        <p>CSDN </p>
        <p>GitHub</p>
        <p>课件</p>
        <p>投稿</p>
        <p>Why? / 为啥创建了这个网站？</p>
        <p>
            回顾大一，花两个月学了个python，浑浑噩噩过了个暑假，然后又去学了一点单片机（可能这辈子就和arduino过了），搭积木一样搞了几个小玩意，其他拿的出手的也没啥了，大一完结。</p>
        <p>大二，2024.9，就是差不多现在，接触到了一个神人 <a href="https://space.bilibili.com/31341757" target="_blank">https://space.bilibili.com/31341757</a>
            还有一个自学网站（csdiy），被震撼到了，同时学习兴趣被极大的点燃了，啥都想学一点，又想着也不能太宽泛而没深度，加上最近在哈欠中学了一周学的Django，于是有所启发，想着搞一个博客用来汇总资源会好一点。
        </p>
        <p>大概就这些想法了。</p>
        <h2>DDL：</h2>
        <p>大概打算在12月前把这个网站全搞完，网站更新计划会后继发布。</p>
        <p><br></p>
    </main>

{% endblock %}